@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #357960;
  --primary-light: #42cf71;
  --secondary: #fff9eb;
  --secondary-dark: #817d76;
  --accent: #ffe016;
}

.fira-code {
  font-family: var(--font-fira-code);
}

.rakkas {
  font-family: var(--font-rakkas);
}
