@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(104, 0, 0);
  --bg-light: #ffffff;
  --primary-dark: #ff7272;
  /* --primary-light: #42cf71; */
  /* --secondary-dark: #817d76; */
}

.outfit {
  font-family: var(--font-outfit);
}
